<!DOCTYPE html>
<html lang="en"
      class="light-style layout-navbar-fixed layout-menu-fixed"
      layout:decorate="~{blocks/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>[[${student != null} ? ${student.groupName + ' ' + student.lastName + ' ' + student.name} : '']]</title>

    <script th:inline="javascript">
        var csrf_token = /*[[${_csrf.token}]]*/ {};
    </script>
    <script th:src="@{/js/main/index.js}"></script>
</head>
<body>
<section layout:fragment="content">
    <div class="card mt-4" id="beginning-lessons">
        <div class="card-header">
            <h2>Розпочатті заняття</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped linkedRow" id="lesson-table"
                       style="    table-layout: fixed;">
                    <thead>
                    <tr>
                        <th style="width: 100px">Викладач</th>
                        <th style="width: 200px">Курс</th>
                        <th style="width: 200px">Посилання на курс</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="courses"></div>
    <ul class="pagination pagination-sm m-0 mt-1 mb-5" style="display: flex; justify-content: flex-end"
        id="pagination_container">
    </ul>


    <div id="tasks"></div>
</section>
</body>
</html>